.wrapper {
    max-width: 1260px;
    width: 65%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.button {
    color: $white;
    background-color: $darkGreen;
    padding: 15px 25px;
    border: none;
    font-family: $loraFont;
    font-size: .7rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

li {
    list-style: none;
}

// added when working on footer
ul {
    padding: 0;
    margin:0;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: $ralewayFont;
}

// format of adding a pseudo element to mimic border in order to change "border length" helped by the blog linked: https: //www.steckinsights.com/shorten-length-border-bottom-pure-css/
.miniBorder::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 20px;
    border-bottom: 2px solid $darkGreen;
}