.blogMain {

    p {
        color: $brownGrey;
        font-family: $loraFont;
    }

    .blogPost {

        h2 {
            margin: 125px 0px 0px 0px;
        }

        .subtext {
            margin-bottom: 30px;
        }
    }

    .tagShare {

        border-top: 0.3px solid $brownGrey;
        border-bottom: 0.3px solid $brownGrey;
        padding: 20px 0;
        margin: 40px 0;
        h3, 
        p,
        i {
            display:inline-block;
        }

        h3 {
            margin: 0 5px 0 0;
        }
    }

    .fa-brands {
        color: $brownGrey;
        margin: 0 10px;
    }

    .author {
        display: flex;
        margin-top: 20px;

        .authorImage {
            min-height: 100%;
        }

        .authorMessage {
            margin: 0 35px;
            padding: 30px 30px 0 30px;
            width: calc(87% - 70px);
            background-color: $lightGrey;

            h3 {
                margin: 0;
            }
        }
    }

    .relatedPosts {
        margin: 55px 0;
        padding-bottom: 30px;
        border-top: 0.3px solid $brownGrey;
        border-bottom: 0.3px solid $brownGrey;
    }
        h3 {
            margin: 35px 0;
            font-size: 1rem;
        }
        .flexPosts {
            display: flex;

            .post {
            width: calc(100% / 3)
            }
    }

    .blogComments {
        h3 {
            margin: 20px 0;
        }
    }

    .commentDate {
        font-family: $ralewayFont;
        font-weight: bold;
        font-size: 0.6rem;
    }

    .commentContainer {
        display: flex;
        margin: 0px;
            img {
                margin-top: 15px;
            }
    }

    .commentBlock {
        background-color: $lightGrey;
        padding: 0px 20px;
        position: relative;
        margin: 15px 40px;
        width: calc(95% - 80px);

        p {
            color: $black;
        }

        span {
            font-family: $ralewayFont;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

    // code used to create comment box full credit to CodePen post: https: //codepen.io/lideo/pen/KKGeQG
    .commentBlock::after {
        content: " ";
        position: absolute;
        left: -15px;
        top: 15px;
        border-top: 15px solid transparent;
        border-right: 15px solid $lightGrey;
        border-left: none;
        border-bottom: 15px solid transparent;
    }

    .commentForm {
        
        h3 {
            margin: 35px 0 0 0;
        }

        p {
            font-style: italic;
        }

        .commenterInfo {
            display: flex;
            justify-content: space-between;
        }

        input {
            display: inline-block;
            width: calc((100% / 3) - 4px);
            padding: 7px 5px;
            font-family: $loraFont,
            serif;
            font-size: 0.7rem;
            line-height: 24px;
            letter-spacing: 0.3px;
        }

        .userComment {
            display: inline-block;
            width: 100%;
            margin-top: 15px;
            font-family: $loraFont,
            serif;
            font-size: 0.7rem;
            line-height: 24px;
            letter-spacing: 0.3px;
        }

        .button {
            margin-top: 10px;
            margin-bottom: 200px;
        }
    }
    
}

.blogFooter {
    
    form {
        margin-top: 125px;
    }
}