header {
    background-image: url(../assets/home-1.jpeg);
    height: 100vh;
    background-size: cover;

    a {
        font-family: $ralewayFont;
    }

    .cartCount {
        position: relative;

        .fa-2 {
            font-size: 0.6rem;
            position: absolute;
            top: 24px;
            right: -3px;
            color: $darkGreen;
        }
    }
}

.contactHeader {
    background-image: url(../assets/contact-1.jpeg);
}

.blogHeader {
    background-image: url(../assets/blog-1.jpeg);
}
