@mixin headerImage ($headerImage) {
    background-image: $headerImage;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    a {
        font-family: $ralewayFont;
    }

    .cartCount {
        position: relative;

        .fa-2 {
            font-size: 0.6rem;
            position: absolute;
            top: 24px;
            right: -3px;
            color: $darkGreen;
        }
    }
}

.homeHeader {
    @include headerImage(url(../assets/home-1.jpeg));
}

.contactHeader {
    @include headerImage(url(../assets/contact-1.jpeg));
}

.blogHeader {
    @include headerImage(url(../assets/blog-1.jpeg));
}
