.mainOne,
.mainTwo {
    display:flex;

    // changed from 50% to 50vw to hopefully help with modile view
    div {
        width: 50vw;
    }
}

.mainTwo {
    
    img {
        width: 50vw;
    }
}

.popularRecipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        color: $brownGrey;
        padding: 0 175px;
        text-align: center;
    }

    .button {
        margin-top: 25px;
    }
}

.recipeOptions {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgb(153, 153, 153, 0.3);
    margin: 0;
    justify-content: space-evenly;
    align-content: center;
    padding: 60px 40px 60px 120px;

    li {
        width: 40%;
        position: relative;
    }

    i {
        position: absolute;
        left: -50px;
        top: 0px;
        font-size: 1.5rem;
    }

    h3 {
        margin: 0;
    }

    p {
        color: $brownGrey;
        margin: 15px 0;
    }

}


.foodGallery ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
        flex-basis: 33.33%;
    }

    img {
        vertical-align: top;
        object-fit: cover;
        width: 100%;
    }

}

.ourResturants {
    margin: 250px 150px 150px 150px;

    h2, 
    p {
        text-align: center;
    }

    p {
        padding: 0 125px;
    }

    img {
        margin: 0 auto 90px auto;
    }
}

.overlayContainer {
    position: relative;
}

.circleText {
    position: absolute;
    top: -123px;
    right: 180px;

}

.testimonial {

    background-color: $Green;
    padding: 150px;

    h2,
    p {
        text-align: center;
    }

    p {
        font-style: italic;
        font-size: 0.9rem;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    blockquote {
        position: relative;
    }

    blockquote::before {
        content: "“";
        font-size: 7rem;
        color: $paleGreen;
        position: absolute;
        top: -30px;
        left: -100px;

    }

    blockquote::after {
        content: "”";
        font-size: 7rem;
        color: $paleGreen;
        position: absolute;
        bottom: -100px;
        right: -100px;
    }


}

.arrows {
    text-align: center;
}

.fa-angle-left,
.fa-angle-right {
    margin: 15px;
    font-weight: bold;
}

.fa-angle-left {
    color: $paleGreen
}

.fa-angle-right {
    color: $white;
}