// typography
$ralewayFont: 'Raleway', sans-serif;
$loraFont: "Lora", serif;

// base-font size - check with designer

// site colours
$brownGrey: #999999;
$black: #2e2e2e;
$white: #f6f6f6;
$blackTwo: #333333;
$darkGreen: #539908;
$Green: #d3e4a4;
$paleGreen: #f1feeb;
$lightGrey: rgba(153, 153, 153, 0.3)

